<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Stefano Galarraga</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string></string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>d6p4V4A/8rsKuA717rYny9b+Gh5wsNSPTx6wMHDHIiM8UvKxIMSILJGN8ih1qviiWQQkDXcKIYxn6oaCyvNW4RTxHU9uMALouXCImW6jJV+ZCC8aep24T/5MSnKciVhCA6duoKhjtmvvUI6B/t9MUpZP81oerKP+RHBnd0cWbVTb9KBujjo2ubak5lvVAbHM3fx33G+fIOGOB6hDUwZWh9oaVkheddUWwJIGsE3dO0NJt9uDpss4txoSclkCOowz</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>galarragas@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>