<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tiago Palma</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>vLlfiLa4deyWjtZX2E4kjrJHvdXKT2HJX4/R+n3M74tDWdXXe2fuVVWi9an4LS2ksPxdES355RofJSqJav1ONh9oKymfe0o69RcF4EksqFECaq4Zqr5Ih144rgAbfkkoKI2xzCt3oLA3pbWYKJs1jZs/4gY1ssrmYtV/9bMxhphc0bCpwv0044bD3iroI7YTF4OP6mVGutH22DvVShkdkl/1Vc/Xbm7cj+wdstSeKG2kKaKya0NGQsVPn+MEvAqYEtfA+yrGFL9kMUGnemeBLNqQ4fOoF1GjYuBBgSLMitqKm8PM54UOsaLz7ZS/blrvZJnFgjSA92Jz7RHt/tSji7XRnjikBoIDLR5I33OUdOhdIX3m2oT0fkAuM0ujJTg97XbjjU//00/Hknr1NtaWacoMqM77ovPS9aoyA+X7lQPHwiB1HLeeDB1JK/g7xmC/LSBqs7weHAYf57PWO0K+aA81NzJIUoBbw9rs0rEP94vv7cQd8v3qd+NURcSXQIvFf7RO8UGKv3uNLxzFJkPIO/Skq+07tdtsYHFtYdRWkXR1lyG/rbgkF3ViM3AkqIywhfGt2I36FMf4MOIawNXI5/OEeDkeEJYYiRrX8noZWoSMqHkifWbaodNO6XzyqJf5SYN1NV7/0bc6iSyVOABB/4zgTkJ+aW2XYpcOtx46RUsE4tNfTE2aDy+rvGCv1yPmYjhCiHXf3KzslL+VT7KkrzI5CJbmoVokcu+yd5X4mt8gYumhfexXIcq8Fkc/FWWApFK8ldIKlrPaH42NBgZWYPZAlQ1lWOU5YYJvset4wXsWntiH0x+sk9I1WqcoO3o5L3TQ5xUlFk+e64ryFbrPYEh6AKGDF23hNEOK5C5ftNaax+IK15xVHS6D0D+A5Wui5nXDzLLrx1dTlUW685Yng4nSdtjHCpNHB18HsxqJ6Idsuyql/Pe7XnL0kS7zjSlV</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11"/>
  </properties>
</user>