<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tiago Palma</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>TfSk+ZXeq6wJ4pqyoJvMm3KVzKP80hgjPnFjNT8I8UvWae2cIDiTMOF+vyByu7kw5Db9lH/GIMVqWHV20d2zBDdJTQLIlUxe35/fvYkbSQ0/+DsGM3jpASd7i+ygzo6+KN5OoOLeCXESt1TJK7hV2DfrepfjEYcjBL3Jv272dO6Kk7jcNSWIfbZ5EQTmp546UBmF8iRm3/MK/LHUbMXep29tw8V0OrSAo6QOPF3J3sMrGZcJGT2l+AeUXysoNQINETVktQDirqASd3xtFJdAlkO43CkB/i8P2/h8JAOacMO7Yil2VdZkMuZm6jyIrzGnRwKGODMvVfoZLr8Mvh/bfeBv9J2gkmzoX8gyzCdNEwU=</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11"/>
  </properties>
</user>