<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tiago Palma</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>vSw6RrH5seGHdpZfvEwjaVchTS8DPAWACGvWKc1uCW7zQCZV6psSODHK4BZS2cNpDw7mlZF3e5Cr8na3tg3G5aMl+LL58w4MQeAxiMcRLqxjX8foG69U3CFsTgCidY/fnY0I2DRiv6dL7ulrqcQoo376zV1mq1Ow5ue4fJaaCvI2t5dJnwuLKBiZLwfXJbCmYQBt8Izvqzm8+/MKhC09ekFhiHTsdpRjfNav3n1shJoWqtWYPAo1ucFFcFCELK6r</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11"/>
  </properties>
</user>